<!DOCTYPE html>
<html lang="en">
<%- include('components/header'); -%>
<body class="bg-gradient-to-b from-federal-blue to-federal-blue-light hover:cursor-default">
    <div class="font-sans text-gray-900 antialiased ">
        <div class="min-h-screen h-screen">
            <%- include('components/navigationBar'); -%> 

            <div class="absolute bottom-1/3 ml-8 animate-pulse">
                <svg width="101" height="192" viewBox="0 0 101 192" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.6471 8.84211L13.3684 0L16.6165 8.84211L24.7368 12L16.6165 14.3459L13.3684 24L10.6471 14.3459L2 12L10.6471 8.84211Z" fill="white" fill-opacity="0.78"/>
                    <path d="M86.6471 79.8421L89.3684 71L92.6165 79.8421L100.737 83L92.6165 85.3459L89.3684 95L86.6471 85.3459L78 83L86.6471 79.8421Z" fill="white" fill-opacity="0.78"/>
                    <path d="M8.64706 176.842L11.3684 168L14.6165 176.842L22.7368 180L14.6165 182.346L11.3684 192L8.64706 182.346L0 180L8.64706 176.842Z" fill="white" fill-opacity="0.78"/>
                    </svg>
            </div>

            <!-- Converter -->
            <div class="w-[90%] mx-auto lg:w-full h-fit flex items-center justify-center mt-10">
                <div class="bg-federal-blue w-[32rem] h-[33rem] rounded-2xl shadow-2xl p-4 flex flex-col justify-center">
                    <div id="input" class="w-full max-w-[32rem] h-20 px-4 text-xl bg-pale-purple-light shadow-inner rounded hover:cursor-default flex items-center justify-start overflow-x-scroll">
                    ENTER BINARY NUMBER
                    </div>

                    <div id="output" class="w-full h-20 px-4 mt-4 text-xl bg-pale-purple-light shadow-inner rounded hover:cursor-default flex items-center justify-start">
                        OUPUT
                    </div>

                    <div class="w-full h-fit grid grid-cols-4 gap-4 mt-7">
                        <div id="zero" class="col-span-1 bg-button-blue h-20 rounded-md shadow-2xl text-center flex items-center justify-center text-lavender-blush hover:shadow-none hover:bg-lavender-blush hover:text-button-blue">
                            0
                        </div>
                        
                        <div id="one" class="col-span-1 bg-button-blue h-20 rounded-md shadow-2xl text-center flex items-center justify-center text-lavender-blush hover:shadow-none hover:bg-lavender-blush hover:text-button-blue">
                            1
                        </div>

                        <div class="col-span-2 bg-button-blue h-20 rounded-md shadow-2xl text-center flex items-center justify-center text-lavender-blush hover:shadow-none hover:bg-lavender-blush hover:text-button-blue" onclick="toDecimal()">
                            CONVERT TO DECIMAL
                        </div>

                        <div id="delete" class="col-span-2 bg-button-blue h-20 rounded-md shadow-2xl text-center flex items-center justify-center text-lavender-blush hover:shadow-none hover:bg-lavender-blush hover:text-button-blue">
                            DELETE
                        </div>
                        
                        <div class="col-span-2 bg-button-blue h-20 rounded-md shadow-2xl text-center flex items-center justify-center text-lavender-blush hover:shadow-none hover:bg-lavender-blush hover:text-button-blue" onclick="toHexadecimal()">
                            CONVERT TO HEXADECIMAL
                        </div>

                        <div id="clear" class="col-span-2 bg-button-blue h-20 rounded-md shadow-2xl text-center flex items-center justify-center text-lavender-blush hover:shadow-none hover:bg-lavender-blush hover:text-button-blue">
                            CLEAR
                        </div>

                        <div class="col-span-2 bg-button-blue h-20 rounded-md shadow-2xl text-center flex items-center justify-center text-lavender-blush hover:shadow-none hover:bg-lavender-blush hover:text-button-blue" onclick="toOctal()">
                            CONVERT TO OCTAL
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/scripts/digits.js"></script>
    <script src="/scripts/conversions.js"></script>
</body>
</html>